.github/** linguist-vendored
third-party/** linguist-vendored
cmake/* linguist-vendored
scripts/actions/* linguist-vendored
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
